<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobLogSumDao">
	<resultMap id="XxlJobLogSum" type="com.xxl.job.admin.core.model.XxlJobLogSum" >
		<result column="job_id" property="jobId" />
		<result column="app_name" property="appName" />
		<result column="job_desc" property="jobDesc" />
		<result column="executor_handler" property="executorHandler" />
		<result column="count" property="count" />
	</resultMap>
	<select id="pageList" resultMap="XxlJobLogSum">
		select temp.job_id,tjg.app_name,tji.job_desc,temp.executor_handler,temp.count from
		(select tjl.job_id,tjl.executor_handler,count(*) as count
        from xxl_job_log tjl  
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobId==0 and jobGroup gt 0">
				AND tjl.job_group = #{jobGroup}
			</if>
			<if test="jobId gt 0">
				AND tjl.job_id = #{jobId}
			</if>
			<if test="triggerTimeStart != null">
				AND tjl.trigger_time <![CDATA[ >= ]]> #{triggerTimeStart}
			</if>
			<if test="triggerTimeEnd != null">
				AND tjl.trigger_time <![CDATA[ <= ]]> #{triggerTimeEnd}
			</if>
			<if test="logStatus == 1" >
				AND xjl.handle_code = 200
			</if>
			<if test="logStatus == 2" >
				AND (
					tjl.trigger_code NOT IN (0, 200) OR
					tjl.handle_code NOT IN (0, 200)
				)
			</if>
			<if test="logStatus == 3" >
				AND tjl.trigger_code = 200
				AND tjl.handle_code = 0
			</if>
		</trim>
		GROUP BY tjl.job_id,tjl.executor_handler) as temp
		inner join xxl_job_info tji
		on temp.job_id = tji.id
		inner join xxl_job_group tjg
		on tji.job_group = tjg.id
	</select>
</mapper>