<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobLogDao">
	
	<resultMap id="XxlJobLog" type="com.xxl.job.admin.core.model.XxlJobLog" >
		<result column="ID" property="id" />

		<result column="JOB_GROUP" property="jobGroup" />
		<result column="JOB_ID" property="jobId" />

		<result column="EXECUTOR_ADDRESS" property="executorAddress" />
		<result column="EXECUTOR_HANDLER" property="executorHandler" />
	    <result column="EXECUTOR_PARAM" property="executorParam" />
		<result column="EXECUTOR_SHARDING_PARAM" property="executorShardingParam" />
		<result column="EXECUTOR_FAIL_RETRY_COUNT" property="executorFailRetryCount" />
	    
	    <result column="TRIGGER_TIME" property="triggerTime" />
	    <result column="TRIGGER_CODE" property="triggerCode" />
	    <result column="TRIGGER_MSG" property="triggerMsg" />
	    
	    <result column="HANDLE_TIME" property="handleTime" />
	    <result column="HANDLE_CODE" property="handleCode" />
	    <result column="HANDLE_MSG" property="handleMsg" />
	    
	</resultMap>

	<sql id="Base_Column_List">
		t.ID,
		t.JOB_GROUP,
		t.JOB_ID,
		t.EXECUTOR_ADDRESS,
		t.EXECUTOR_HANDLER,
		t.EXECUTOR_PARAM,
		t.EXECUTOR_SHARDING_PARAM,
		t.EXECUTOR_FAIL_RETRY_COUNT,
		t.TRIGGER_TIME,
		t.TRIGGER_CODE,
		t.TRIGGER_MSG,
		t.HANDLE_TIME,
		t.HANDLE_CODE,
		t.HANDLE_MSG
	</sql>
	
	<select id="pageList" resultMap="XxlJobLog">
		SELECT <include refid="Base_Column_List" />
		FROM (
			SELECT <include refid="Base_Column_List" />,ROWNUM rn
			FROM (
				SELECT t.* 
				FROM XXL_JOB_QRTZ_TRIGGER_LOG  t
				<trim prefix="WHERE" prefixOverrides="AND | OR" >
					<if test="jobGroup gt 0">
						AND t.JOB_GROUP = #{jobGroup}
					</if>
					<if test="jobId gt 0">
						AND t.JOB_ID = #{jobId}
					</if>
					<if test="triggerTimeStart != null">
						AND t.TRIGGER_TIME <![CDATA[ >= ]]> #{triggerTimeStart}
					</if>
					<if test="triggerTimeEnd != null">
						AND t.TRIGGER_TIME <![CDATA[ <= ]]> #{triggerTimeEnd}
					</if>
					<if test="logStatus == 1" >
						AND t.HANDLE_CODE = 200
					</if>
					<if test="logStatus == 2" >
						AND (
							t.TRIGGER_CODE NOT IN (0, 200) OR
							t.HANDLE_CODE NOT IN (0, 200)
						)
					</if>
					<if test="logStatus == 3" >
						AND t.TRIGGER_CODE = 200
						AND t.HANDLE_CODE = 0
					</if>
				</trim>
				ORDER BY id DESC
				) t WHERE ROWNUM<![CDATA[ < ]]>=#{end} 
			) t WHERE t.rn<![CDATA[ > ]]>=#{start}
	</select>
	
	<select id="pageListCount" resultType="int">
		SELECT count(1)
		FROM XXL_JOB_QRTZ_TRIGGER_LOG  t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND t.JOB_GROUP = #{jobGroup}
			</if>
			<if test="jobId gt 0">
				AND t.JOB_ID = #{jobId}
			</if>
			<if test="triggerTimeStart != null">
				AND t.TRIGGER_TIME <![CDATA[ >= ]]> #{triggerTimeStart}
			</if>
			<if test="triggerTimeEnd != null">
				AND t.TRIGGER_TIME <![CDATA[ <= ]]> #{triggerTimeEnd}
			</if>
			<if test="logStatus == 1" >
				AND t.HANDLE_CODE = 200
			</if>
			<if test="logStatus == 2" >
				AND (
					t.TRIGGER_CODE NOT IN (0, 200) OR
					t.HANDLE_CODE NOT IN (0, 200)
				)
			</if>
			<if test="logStatus == 3" >
				AND t.TRIGGER_CODE = 200
				AND t.HANDLE_CODE = 0
			</if>
		</trim>
	</select>
	
	<select id="load" parameterType="java.lang.Integer" resultMap="XxlJobLog">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_LOG  t
		WHERE t.ID = #{id}
	</select>

	
	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobLog" useGeneratedKeys="true" keyProperty="id" >
		<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
			select TRIGGER_LOG_sequence.nextval  as id from dual
		</selectKey>
		INSERT INTO XXL_JOB_QRTZ_TRIGGER_LOG (
			ID,
			JOB_GROUP,
			JOB_ID,
			TRIGGER_TIME,
			TRIGGER_CODE,
			HANDLE_CODE
		) VALUES (
			#{id,jdbcType=INTEGER},
			#{jobGroup,jdbcType=INTEGER},
			#{jobId,jdbcType=INTEGER},
			#{triggerTime,jdbcType=TIMESTAMP},
			#{triggerCode,jdbcType=VARCHAR},
			#{handleCode,jdbcType=VARCHAR}
		)
		<!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>-->
	</insert>

	<update id="updateTriggerInfo" >
		UPDATE XXL_JOB_QRTZ_TRIGGER_LOG
		SET
			TRIGGER_TIME= #{triggerTime,jdbcType=TIMESTAMP},
			TRIGGER_CODE= #{triggerCode,jdbcType=VARCHAR},
		    TRIGGER_MSG= #{triggerMsg,jdbcType=VARCHAR},
			EXECUTOR_ADDRESS= #{executorAddress,jdbcType=VARCHAR},
			EXECUTOR_HANDLER=#{executorHandler,jdbcType=VARCHAR},
			EXECUTOR_PARAM= #{executorParam,jdbcType=VARCHAR},
			EXECUTOR_SHARDING_PARAM= #{executorShardingParam,jdbcType=VARCHAR},
			EXECUTOR_FAIL_RETRY_COUNT= #{executorFailRetryCount,jdbcType=INTEGER}
		WHERE ID= #{id}
	</update>

	<update id="updateHandleInfo">
		UPDATE XXL_JOB_QRTZ_TRIGGER_LOG
		SET 
			HANDLE_TIME= #{handleTime}, 
			HANDLE_CODE= #{handleCode},
			HANDLE_MSG= #{handleMsg} 
		WHERE ID= #{id}
	</update>
	
	<delete id="delete" >
		delete from XXL_JOB_QRTZ_TRIGGER_LOG
		WHERE JOB_ID = #{jobId}
	</delete>

	<select id="triggerCountByHandleCode" resultType="int" >
		SELECT count(1)
		FROM XXL_JOB_QRTZ_TRIGGER_LOG  t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="handleCode gt 0">
				AND t.HANDLE_CODE = #{handleCode}
			</if>
		</trim>
	</select>

    <select id="triggerCountByDay" resultType="java.util.Map" >
		SELECT
			to_char(TRIGGER_TIME, 'yyyy-mm-dd') triggerDay,
			COUNT(HANDLE_CODE) triggerDayCount,
			SUM(CASE WHEN (TRIGGER_CODE = 200 and HANDLE_CODE = 0) then 1 else 0 end) as triggerDayCountRunning,
			SUM(CASE WHEN HANDLE_CODE = 200 then 1 else 0 end) as triggerDayCountSuc
		FROM XXL_JOB_QRTZ_TRIGGER_LOG
		WHERE TRIGGER_TIME BETWEEN #{from} and #{to}
		GROUP BY to_char(trigger_time, 'yyyy-mm-dd')
    </select>

	<delete id="clearLog" >
		delete from XXL_JOB_QRTZ_TRIGGER_LOG
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND job_group = #{jobGroup}
			</if>
			<if test="jobId gt 0">
				AND job_id = #{jobId}
			</if>
			<if test="clearBeforeTime != null">
				AND trigger_time <![CDATA[ <= ]]> #{clearBeforeTime}
			</if>
			<if test="clearBeforeNum gt 0">
				AND id NOT in(
					SELECT id FROM(
						SELECT id FROM XXL_JOB_QRTZ_TRIGGER_LOG  t
						<trim prefix="WHERE" prefixOverrides="AND | OR" >
							ROWNUM <![CDATA[ < ]]>= #{limit}
							<if test="jobGroup gt 0">
								AND t.job_group = #{jobGroup}
							</if>
							<if test="jobId gt 0">
								AND t.job_id = #{jobId}
							</if>
						</trim>
						ORDER BY t.trigger_time desc
					) t1 WHERE ROWNUM <![CDATA[ < ]]>= #{clearBeforeNum}
				)
			</if>
		</trim>
	</delete>
	
</mapper>