<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XxlJobGroupMapper">
	
	<resultMap id="XxlJobGroup" type="com.xxl.job.admin.core.model.XxlJobGroup" >
	    <result column="app_name" property="appName" />
	    <result column="title" property="title" />
	    <result column="order" property="order" />
	</resultMap>

	<sql id="Base_Column_List">
		t.app_name,
		t.title,
		t.order
	</sql>

	<select id="findAll" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_GROUP AS t
		ORDER BY t.order ASC
	</select>

	<insert id="save" parameterType="java.util.Map" >
		INSERT INTO XXL_JOB_QRTZ_TRIGGER_GROUP ( `app_name`, `title`, `order`)
		values ( #{appName}, #{title}, #{order});
	</insert>

	<update id="update" parameterType="java.util.Map" >
		UPDATE XXL_JOB_QRTZ_TRIGGER_GROUP
		SET `title` = #{title},
			`order` = #{order}
		WHERE app_name = #{appName}
	</update>

	<delete id="remove" parameterType="java.lang.String" >
		DELETE FROM XXL_JOB_QRTZ_TRIGGER_GROUP
		WHERE app_name = #{appName}
	</delete>

	<select id="load" parameterType="java.lang.String" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_GROUP AS t
		WHERE t.app_name = #{appName}
	</select>

</mapper>