<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobGroupDao">

	<resultMap id="XxlJobGroup" type="com.xxl.job.admin.core.model.XxlJobGroup" >
		<result column="id" property="id" />
	    <result column="app_name" property="appname" />
	    <result column="title" property="title" />
		<result column="address_type" property="addressType" />
		<result column="address_list" property="addressList" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.app_name,
		t.title,
		t.address_type,
		t.address_list,
		t.update_time
	</sql>

	<select id="findAll" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group AS t
		ORDER BY t.app_name, t.title, t.id ASC
	</select>

	<select id="findByAddressType" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group AS t
		WHERE t.address_type = #{addressType}
		ORDER BY t.app_name, t.title, t.id ASC
	</select>

	<!--//TODO oracle支持调整 取序列 -->
	<sql id='XXL_JOB_GROUP_ID' databaseId="oracle">XXL_JOB_GROUP_ID.NEXTVAL</sql>

	<insert id="save" databaseId = 'oracle' parameterType="com.xxl.job.admin.core.model.XxlJobGroup" useGeneratedKeys="true" keyProperty="id" >
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select <include refid="XXL_JOB_GROUP_ID" /> from dual
		</selectKey>
		INSERT INTO xxl_job_group (id, app_name, title, address_type, address_list, update_time)
		values ( #{id}, #{appname}, #{title}, #{addressType,jdbcType=BIT}, #{addressList,jdbcType=CLOB}, #{updateTime,jdbcType=TIMESTAMP} )
	</insert>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobGroup" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_job_group ( `app_name`, `title`, `address_type`, `address_list`, `update_time`)
		values ( #{appname}, #{title}, #{addressType}, #{addressList}, #{updateTime} );
	</insert>

	<insert id="save" databaseId = 'sqlserver' parameterType="com.xxl.job.admin.core.model.XxlJobGroup" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_job_group ( app_name, title, address_type, address_list, update_time)
		values ( #{appname}, #{title}, #{addressType, jdbcType=SMALLINT}, #{addressList}, #{updateTime,jdbcType=TIMESTAMP} );
	</insert>


	<update id="update" parameterType="com.xxl.job.admin.core.model.XxlJobGroup" >
		UPDATE xxl_job_group
		SET `app_name` = #{appname},
			`title` = #{title},
			`address_type` = #{addressType},
			`address_list` = #{addressList},
			`update_time` = #{updateTime}
		WHERE id = #{id}
	</update>

	<update id="update" databaseId = 'oracle' parameterType="com.xxl.job.admin.core.model.XxlJobGroup" >
		UPDATE xxl_job_group
		SET app_name = #{appname},
			title = #{title},
			address_type = #{addressType,jdbcType=BIT},
			address_list = #{addressList,jdbcType=CLOB},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		WHERE id = #{id}
	</update>

	<update id="update" databaseId = 'sqlserver' parameterType="com.xxl.job.admin.core.model.XxlJobGroup" >
		UPDATE xxl_job_group
		SET app_name = #{appname},
			title = #{title},
			address_type = #{addressType},
			address_list = #{addressList, jdbcType=VARCHAR},
			update_time = #{updateTime, jdbcType=TIMESTAMP}
		WHERE id = #{id}
	</update>

	<delete id="remove" parameterType="java.lang.Integer" >
		DELETE FROM xxl_job_group
		WHERE id = #{id}
	</delete>

	<select id="load" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group AS t
		WHERE t.id = #{id}
	</select>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="appname != null and appname != ''">
				AND t.app_name like CONCAT(CONCAT('%', #{appname}), '%')
			</if>
			<if test="title != null and title != ''">
				AND t.title like CONCAT(CONCAT('%', #{title}), '%')
			</if>
		</trim>
		ORDER BY t.app_name, t.title, t.id ASC
		LIMIT #{offset}, #{pagesize}
	</select>

	<!--//TODO oracle支持调整 分页修改为oracle三层分页 -->
	<select id="pageList" databaseId = 'oracle' parameterType="java.util.HashMap" resultMap="XxlJobGroup">
		select *
		from (select *
		from (select A.*, rownum rn
		from (
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="appname != null and appname != ''">
				AND t.app_name like CONCAT(CONCAT('%', #{appname}), '%')
			</if>
			<if test="title != null and title != ''">
				AND t.title like CONCAT(CONCAT('%', #{title}), '%')
			</if>
		</trim>
		ORDER BY t.app_name, t.title, t.id ASC) A)
		where rn > #{offset}) B
		<![CDATA[	where rn <= #{offset}+ #{pagesize} ]]>
	</select>

	<select id="pageList" databaseId = 'sqlserver' parameterType="java.util.HashMap" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" /> FROM
		(
		SELECT <include refid="Base_Column_List"/>
		,row_number () OVER ( ORDER BY t.app_name, t.title, t.id ASC ) AS rownumber
		FROM xxl_job_group AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="appname != null and appname != ''">
				AND t.app_name like CONCAT(CONCAT('%', #{appname}), '%')
			</if>
			<if test="title != null and title != ''">
				AND t.title like CONCAT(CONCAT('%', #{title}), '%')
			</if>
		</trim>
		) AS t
		WHERE t.rownumber <![CDATA[ > ]]> #{offset}
		AND t.rownumber <![CDATA[ <= ]]> (#{offset} + #{pagesize})
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM xxl_job_group AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="appname != null and appname != ''">
				AND t.app_name like CONCAT(CONCAT('%', #{appname}), '%')
			</if>
			<if test="title != null and title != ''">
				AND t.title like CONCAT(CONCAT('%', #{title}), '%')
			</if>
		</trim>
	</select>

</mapper>