<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>任务管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" href="plugins/layui-v2.8.11/css/layui.css">
    <link rel="stylesheet" href="plugins/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="plugins/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="plugins/codemirror/addon/hint/show-hint.css">

    <script type="text/javascript" src="plugins/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="plugins/layui-v2.8.11/layui.js"></script>
    <script type="text/javascript" src="js/layui-ext.js"></script>
    <script type="text/javascript" src="plugins/xm-select/xm-select.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/multiSelector.js" charset="utf-8"></script>
    <script type="text/javascript" src="plugins/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="plugins/codemirror/addon/hint/show-hint.js"></script>
    <script type="text/javascript" src="plugins/codemirror/addon/hint/anyword-hint.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/clike.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/shell.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/python.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/php.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/javascript.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/powershell.js"></script>
    <script type="text/javascript" src="plugins/codemirror/language/css.js"></script>
    <script type="text/javascript" src="js/codeEditor.js"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <script type="text/javascript" src="plugins/lodash.js"></script>
    <script type="text/javascript" src="js/message.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/jobInfo.js"></script>

    <style>
        .layui-form-item .layui-input-inline {
            width: 405px !important;
        }

        #cron-button {
            background-color: #c2c2c2;
            height: auto;
            flex: 1;
        }

    </style>

</head>

<body>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <div class="layui-inline">
                <label for="select-jobGroup" class="layui-input-label">执行器</label>
                <div class="layui-input-inline">
                    <select lay-search="" id="select-jobGroup" lay-filter="jobGroup-selected">
                        <option value="">请选择或搜索</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label class="layui-input-label">名称</label>
                <input type="text" id="name" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-inline">
                <label for="select-status" class="layui-input-label">状态</label>
                <div class="layui-input-inline">
                    <select lay-search="" id="select-status" lay-filter="status-selected">
                        <option value="">请选择或搜索</option>
                        <option value="1">运行</option>
                        <option value="0">停止</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label class="layui-input-label">JobHandler</label>
                <input type="text" id="executorHandler" placeholder="请输入JobHandler" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <label class="layui-input-label">负责人</label>
                <input type="text" id="author" placeholder="请输入负责人" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-input-inline" style="float: right">
                <button type="button" title="查询" class="layui-btn" onclick="search()"><i class="layui-icon">&#xe615;</i></button>
                <button type="button" title="清空" class="layui-btn layui-btn-danger" onclick="clean()"><i class="layui-icon">&#xe788;</i></button>
            </div>
        </div>
    </div>

    <xblock>
        <button class="layui-btn" onclick="change('新增任务', '')"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    </xblock>
    <table class="layui-hide" id="table-data"></table>
    <div id="page"></div>
</div>

<div id="key-form" style="display: none">
    <form id="key-form-form" class="layui-form" lay-filter="layui-key-form">
        <p class="job-info-p">
            <span class="job-info-span">基础配置</span>
        </p>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-group" class="layui-form-label">
                    <span class="x-red">*</span>所属执行器
                </label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-group" name="groupId" required lay-verify="required|groupId" lay-filter="group-selected">
                        <option value="">请选择或搜索</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label for="add-name" class="layui-form-label">
                    <span class="x-red">*</span>任务名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="add-name" name="name" required lay-verify="required|name" autocomplete="off" lay-vertype="tips"
                           class="layui-input" placeholder="请输入任务名">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-author" class="layui-form-label">
                    <span class="x-red">*</span>负责人
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="add-author" name="author" required lay-verify="required|author" autocomplete="off" lay-vertype="tips"
                           class="layui-input" placeholder="请输入负责人">
                </div>
            </div>
            <div class="layui-inline">
                <label for="add-select-status" class="layui-form-label">
                    <span class="x-red">*</span>是否立即生效
                </label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-select-status" name="triggerStatus" required lay-verify="required|triggerStatus" lay-filter="trigger-status-selected-filter">
                        <option value="0" selected>否</option>
                        <option value="1">是</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-email" class="layui-form-label">报警邮件</label>
                <div class="layui-input-inline">
                    <input type="text" id="add-email" name="alarmEmail" autocomplete="off" placeholder="请输入报警邮件，多个邮件地址则逗号分隔"
                           lay-vertype="tips" class="layui-input">
                </div>
            </div>
        </div>

        <p class="job-info-p">
            <span class="job-info-span">调度配置</span>
        </p>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-schedule-type" class="layui-form-label">
                    <span class="x-red">*</span>调度类型
                </label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-schedule-type" name="scheduleType" required lay-verify="required|scheduleType" lay-filter="schedule-type-selected-filter">
                        <option value="NONE">无</option>
                        <option value="CRON" selected>CRON</option>
                        <option value="FIX_RATE">固定速度</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline" id="schedule-conf-cron">
                <label for="for-schedule-conf-cron" class="layui-form-label">
                    <span class="x-red">*</span>CRON
                </label>
<!--                style="display: flex; height: 100%;"-->
                <div class="layui-input-inline">
                    <input type="text" id="for-schedule-conf-cron" class="layui-input" name="scheduleConfCron" placeholder="cron表达式..." autocomplete="off"/>
<!--                    <button id="cron-button" onclick="initCron()" type="button" class="layui-btn layui-btn-sm layui-btn-danger" style="background-color: #c2c2c2">-->
<!--                        <i class="layui-icon layui-icon-edit"></i>-->
<!--                    </button>-->
                </div>
            </div>

            <div class="layui-inline" id="schedule-conf-fixdelay" style="display: none">
                <label for="for-schedule-conf-fixdelay" class="layui-form-label">
                    <span class="x-red">*</span>固定速度
                </label>
                <div class="layui-input-inline" id="for-schedule-conf-fixdelay">
                    <input type="number" class="layui-input" name="scheduleConfFixDelay" autocomplete="off"
                           onkeyup="value=value.match(/^-?[0-9]\d*$/)||value.match(/-?/)" lay-vertype="tips" placeholder="请输入 (Second)"/>
                </div>
            </div>

        </div>

        <p class="job-info-p">
            <span class="job-info-span">任务配置</span>
        </p>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-glue-type" class="layui-form-label">
                    <span class="x-red">*</span>运行模式
                </label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-glue-type" name="glueType" required lay-verify="required|glueType" lay-filter="glue-type-selected-filter">
                        <option value="BEAN" selected>BEAN</option>
                        <option value="GLUE_GROOVY">GLUE(Java)</option>
                        <option value="GLUE_SHELL">GLUE(Shell)</option>
                        <option value="GLUE_PYTHON">GLUE(Python)</option>
                        <option value="GLUE_PHP">GLUE(PHP)</option>
                        <option value="GLUE_NODEJS">GLUE(Nodejs)</option>
                        <option value="GLUE_POWERSHELL">GLUE(PowerShell)</option>
                        <option value="KETTLE_KTR">kettle(ktr)</option>
                        <option value="KETTLE_KJB">kettle(kjb)</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline" id="glue-conf-Handler">
                <label for="for-glue-conf" class="layui-form-label">
                    <span class="x-red">*</span>JobHandler
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="for-glue-conf" class="layui-input" name="executorHandler" placeholder="请输入JobHandler" autocomplete="off"/>
                </div>
            </div>

            <div class="layui-inline" id="glue-source" style="display: none">
                <label for="for-glue-source" class="layui-form-label">
                    <span class="x-red">*</span>WEB IDE
                </label>
                <div class="layui-input-inline">
                    <button type="button" id="for-glue-source" class="layui-btn layui-btn-primary layui-border layui-btn-fluid">打开WEB IDE</button>
                </div>
            </div>

            <div class="layui-inline" id="glue-kettle" style="display: none">
                <label for="for-glue-kettle" class="layui-form-label">
                    <span class="x-red">*</span>kettle
                </label>
                <div class="layui-input-inline">
                    <div id="for-glue-kettle"></div>
                </div>
            </div>




<!--            <div class="layui-inline" id="glue-conf-upload-file" style="display: none">-->
<!--                <label for="for-glue-conf-upload-file" class="layui-form-label">-->
<!--                    <span class="x-red">*</span>kettle文件-->
<!--                </label>-->
<!--                <div class="layui-input-inline" id="for-glue-conf-upload-file">-->
<!--                    <input type="text" class="layui-input" name="scheduleConf" autocomplete="off" placeholder="请输入 (Second)"/>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="add-executorParam" class="layui-form-label">任务参数</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入任务参数" id="add-executorParam" name="executorParam" class="layui-textarea"></textarea>
            </div>
        </div>

        <p class="job-info-p">
            <span class="job-info-span">高级配置</span>
        </p>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-route-strategy" class="layui-form-label">路由策略</label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-route-strategy" name="executorRouteStrategy" required lay-verify="required|executorRouteStrategy" lay-filter="glue-type-selected-filter">
                        <option value="FIRST" selected>第一个</option>
                        <option value="LAST">最后一个</option>
                        <option value="ROUND">轮询</option>
                        <option value="RANDOM">随机</option>
                        <option value="CONSISTENT_HASH">一致性HASH</option>
                        <option value="LEAST_FREQUENTLY_USED">最不经常使用</option>
                        <option value="LEAST_RECENTLY_USED">最近最久未使用</option>
                        <option value="FAILOVER">故障转移</option>
                        <option value="BUSYOVER">忙碌转移</option>
                        <option value="SHARDING_BROADCAST">分片广播</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label for="key-child-jobIds" class="layui-form-label">子任务</label>
                <div class="layui-input-inline">
                    <div id="key-child-jobIds"></div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-misfire-strategy" class="layui-form-label">调度过期策略</label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-misfire-strategy" name="misfireStrategy" required lay-verify="required|misfireStrategy" lay-filter="misfire-strategy-selected-filter">
                        <option value="DO_NOTHING" selected>忽略</option>
                        <option value="FIRE_ONCE_NOW">立即执行一次</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label for="add-block-strategy" class="layui-form-label">阻塞处理策略</label>
                <div class="layui-input-inline">
                    <select lay-search="" id="add-block-strategy" name="executorBlockStrategy" required lay-verify="required|executorBlockStrategy" lay-filter="block-strategy-selected-filter">
                        <option value="SERIAL_EXECUTION" selected>单机串行</option>
                        <option value="DISCARD_LATER">丢弃后续调度</option>
                        <option value="COVER_EARLY">覆盖之前调度</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-executor-timeout" class="layui-form-label">任务超时时间</label>
                <div class="layui-input-inline">
                    <input type="number" id="add-executor-timeout" placeholder="任务超时时间，单位秒，大于零时生效"
                           onkeyup="value=value.match(/^-?[0-9]\d*$/)||value.match(/-?/)" name="executorTimeout"
                           autocomplete="off" lay-vertype="tips" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label for="add-fail-retry-count" class="layui-form-label">失败重试次数</label>
                <div class="layui-input-inline">
                    <input type="number" id="add-fail-retry-count"
                           onkeyup="value=value.match(/^-?[0-9]\d*$/)||value.match(/-?/)" placeholder="失败重试次数，大于零时生效"
                           name="executorFailRetryCount" autocomplete="off" lay-vertype="tips" class="layui-input">
                </div>
            </div>
        </div>

        <p class="job-info-p">
            <span class="job-info-span">额外信息</span>
        </p>

        <div class="layui-form-item layui-form-text">
            <label for="add-description" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="add-description" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="key-submit" class="layui-form-label"></label>
            <button id="key-submit" class="layui-btn" lay-filter="submit" lay-submit="">提交</button>
        </div>
    </form>
</div>

<div id="trigger-job-form" style="display: none">
    <form id="trigger-job--form-form" class="layui-form" lay-filter="layui-trigger-job-form">
        <div class="layui-form-item layui-form-text">
            <label for="trigger-executorParam" class="layui-form-label">任务参数</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入任务参数" id="trigger-executorParam" name="executorParam" rows=13
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="trigger-addressList" class="layui-form-label">机器地址</label>
            <div class="layui-input-block">
                <textarea id="trigger-addressList" placeholder="请输入本次执行的机器地址，为空则从执行器获取" name="addresses"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="trigger-job" class="layui-form-label"></label>
            <button id="trigger-job" class="layui-btn" lay-filter="triggerJob" lay-submit="">提交</button>
        </div>
    </form>
</div>

<div id="code-edit" style="display: none">
    <div id='box'>
        <textarea id="code"></textarea>
    </div>
    <div>
        <!--    <button class="button" id="codeEidtFormPostSubmit" onclick="submit()">提交</button>-->
        <form id='codeEidtFormPost'>
            <input type="text" name="editValues" id="editValues">
            <input type="text" name="fileName" id="fileName">
            <input type="text" name="encoding" id="encoding">
        </form>
    </div>
</div>

</body>

</html>

