<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>kettle管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/xadmin.css}">
    <link rel="stylesheet" th:href="@{plugins/layui-v2.8.11/css/layui.css}">

    <script type="text/javascript" th:src="@{plugins/jquery-3.7.0.min.js}"></script>
    <script type="text/javascript" th:src="@{plugins/layui-v2.8.11/layui.js}"></script>
    <script type="text/javascript" th:src="@{plugins/moment.js}"></script>
    <script type="text/javascript" th:src="@{js/layui-ext.js}"></script>
    <script type="text/javascript" th:src="@{js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{plugins/lodash.js}"></script>
    <script type="text/javascript" th:src="@{js/message.js}"></script>
    <script type="text/javascript" th:src="@{js/utils.js}"></script>
    <script type="text/javascript" th:src="@{js/request.js}"></script>
    <script type="text/javascript" th:src="@{js/kettle.js}"></script>

    <style>
        #select-type-inline .layui-unselect  .layui-select-title .layui-input {
            width: 100px !important;
        }

        #select-status-inline .layui-unselect  .layui-select-title .layui-input {
            width: 100px !important;
        }

        #select-log-level-inline .layui-unselect  .layui-select-title .layui-input {
            width: 150px !important;
        }

        .upload-file {
            margin: 0 auto;
            /*width: 100%;*/
            overflow: hidden;
            padding: 5px 0;
        }

        .upload-file-line {
            position: relative;
            margin: 0 auto;
            width: 300px;
            text-align: left
        }

        .upload-file-line span.upload-file-span {
            float: left;
            padding-top: 2px;
        }

        .file {
            position: absolute;
            left: 0;
            width: 250px;
            top: 0;
            height: 28px;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: pointer
        }

        .file_pre {
            float: left;
            margin-left: 8px;
            z-index: 1;
            width: 66px;
            height: 28px;
            line-height: 28px;
            background: url("images/liulan.gif") no-repeat 0 0;
            text-indent: -9999px;
            cursor: pointer
        }

        .input-style {
            border: 1px solid #BEBEBE;
            width: 170px;
            float: left;
            height: 23px;
            line-height: 23px;
            background: #FFF;
            z-index: 99
        }

    </style>

</head>

<body>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <div class="layui-input-inline">
                <label class="layui-label">名称</label>
                <input type="text" id="title" name="title" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-inline" >
                <label for="select-type" class="layui-input-label">类型</label>
                <div class="layui-input-inline" id="select-type-inline">
                    <select id="select-type" lay-filter="select-type-filter">
                        <option value="">请选择</option>
                        <option value="KTR">转换模型</option>
                        <option value="KJB">作业模型</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label for="select-status" class="layui-input-label">状态</label>
                <div class="layui-input-inline" id="select-status-inline">
                    <select id="select-status" lay-filter="select-status-filter">
                        <option value="">请选择</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label for="select-log-level" class="layui-input-label">日志级别</label>
                <div class="layui-input-inline" id="select-log-level-inline">
                    <select id="select-log-level" lay-filter="select-log-level-filter">
                        <option value="">请选择</option>
                        <option value="NOTHING">没有日志</option>
                        <option value="ERROR">错误日志</option>
                        <option value="MINIMAL">最小日志</option>
                        <option value="BASIC">基本日志</option>
                        <option value="DETAILED">详细日志</option>
                        <option value="DEBUG">调试</option>
                        <option value="ROWLEVEL">行级日志</option>
                    </select>
                </div>
            </div>

            <div class="layui-input-inline">
                <label class="layui-label">创建时间</label>
                <input type="text" class="layui-input" placeholder="开始时间" name="start" id="start">
                <input type="text" class="layui-input" placeholder="结束时间" name="end" id="end">
            </div>
            <div class="layui-input-inline" style="float: right">
                <button type="button" title="查询" class="layui-btn" onclick="search()"><i class="layui-icon">&#xe615;</i></button>
                <button type="button" title="清空" class="layui-btn layui-btn-danger" onclick="clean()"><i class="layui-icon">&#xe788;</i></button>
            </div>
        </div>
    </div>

    <xblock>
        <button class="layui-btn" onclick="add()"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    </xblock>
    <table class="layui-hide" id="table-data"></table>
    <div id="page"></div>
</div>

<div id="add-kettle" style="display: none">
    <form id="add-kettle-form" class="layui-form" lay-filter="layui-add-kettle-form">
        <div class="layui-form-item">
            <label for="add-name" class="layui-form-label">
                <span class="x-red">*</span>名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="add-name" name="name" placeholder="请输入名称"
                       required lay-verify="required|name" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="add-type" class="layui-form-label">
                <span class="x-red">*</span>类型
            </label>
            <div class="layui-input-inline">
                <select id="add-type" name="type" required lay-verify="required|type" lay-filter="add-type-filter">
                    <option value="KTR" selected>转换模型</option>
                    <option value="KJB">作业模型</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="add-files" class="layui-form-label">
                    <span class="x-red">*</span>模型文件
                </label>
                <div class="layui-input-inline" style="width: auto !important;">
                    <div class="upload-file" id="add-files">
                        <div class="upload-file-line">
                            <span class="upload-file-span">
                                <input name="file" type="text" id="viewfile" required lay-verify="required|file" disabled="disabled" class="input-style"/>
                                <input type="file" style="display: none;" onchange="finishSelect('model-upload', 'viewfile')" class="file"
                                       id="model-upload" accept=".ktr,.zip"/>
                            </span>
                            <label for="model-upload" class="file_pre">浏览...</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-inline" id="guide-kjb" style="display: none">
                <label for="for-add-guide-kjb" class="layui-form-label">
                    <span class="x-red">*</span>kjb引导文件
                </label>
                <div class="upload-file" id="for-add-guide-kjb">
                    <div class="upload-file-line">
                            <span class="upload-file-span">
                                <input name="guideKjb" type="text" id="viewGuideKjbFile" disabled="disabled" class="input-style"/>
                                <input type="file" style="display: none;" onchange="finishSelect('guide-kjb-upload', 'viewGuideKjbFile')"
                                       class="file" id="guide-kjb-upload" accept=".kjb"/>
                            </span>
                        <label for="guide-kjb-upload" class="file_pre">请选择引导文件</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="add-status" class="layui-form-label">
                <span class="x-red">*</span>状态
            </label>
            <div class="layui-input-inline">
                <select id="add-status" name="status" required lay-verify="required|status" lay-filter="add-status-filter">
                    <option value="1" selected>启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="add-log-level" class="layui-form-label">
                <span class="x-red">*</span>日志级别
            </label>
            <div class="layui-input-inline">
                <select id="add-log-level" name="logLevel" required lay-verify="required|logLevel" lay-filter="add-log-level-filter">
                    <option value="BASIC" selected>基本日志</option>
                    <option value="NOTHING">没有日志</option>
                    <option value="ERROR">错误日志</option>
                    <option value="MINIMAL">最小日志</option>
                    <option value="DETAILED">详细日志</option>
                    <option value="DEBUG">调试</option>
                    <option value="ROWLEVEL">行级日志</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="description" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="description" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add" class="layui-form-label"></label>
            <button id="add" class="layui-btn" lay-filter="add" lay-submit="">提交</button>
        </div>
    </form>
</div>

<div id="update-kettle" style="display: none">
    <form id="update-kettle-form" class="layui-form" lay-filter="layui-update-kettle-form">
        <div class="layui-form-item">
            <label for="update-name" class="layui-form-label">
                <span class="x-red">*</span>名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="update-name" name="name" placeholder="请输入名称"
                       required lay-verify="required|name" autocomplete="off" lay-vertype="tips" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="update-type" class="layui-form-label">
                <span class="x-red">*</span>类型
            </label>
            <div class="layui-input-inline">
                <select id="update-type" required lay-verify="required|type" name="type" lay-filter="update-type-filter">
                    <option value="KTR" selected>转换模型</option>
                    <option value="KJB">作业模型</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="update-files" class="layui-form-label">
                    <span class="x-red">*</span>模型文件
                </label>
                <div class="layui-input-inline" style="width: auto !important;">
                    <div class="upload-file" id="update-files">
                        <div class="upload-file-line">
                            <span class="upload-file-span">
                                <input name="file" type="text" required lay-verify="required|file" id="update-view-file" disabled="disabled" class="input-style"/>
                                <input type="file" style="display: none;" onchange="finishSelect('update-model-upload', 'update-view-file')" class="file"
                                       id="update-model-upload" accept=".ktr,.zip"/>
                            </span>
                            <label for="update-model-upload" class="file_pre">浏览</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-inline" id="update-guide-kjb" style="display: none">
                <label for="for-update-guide-kjb" class="layui-form-label">
                    <span class="x-red">*</span>kjb引导文件
                </label>
                <div class="upload-file" id="for-update-guide-kjb">
                    <div class="upload-file-line">
                            <span class="upload-file-span">
                                <input name="guideKjb" type="text" id="update-view-guide-kjb-file" disabled="disabled" class="input-style"/>
                                <input type="file" style="display: none;" onchange="finishSelect('update-guide-kjb-upload', 'update-view-guide-kjb-file')"
                                       class="file" id="update-guide-kjb-upload" accept=".kjb"/>
                            </span>
                        <label for="update-guide-kjb-upload" class="file_pre">请选择引导文件</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="update-status" class="layui-form-label">
                <span class="x-red">*</span>状态
            </label>
            <div class="layui-input-inline">
                <select id="update-status" required lay-verify="required|status" name="status" lay-filter="update-status-filter">
                    <option value="1" selected>启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="update-log-level" class="layui-form-label">
                <span class="x-red">*</span>日志级别
            </label>
            <div class="layui-input-inline">
                <select id="update-log-level" required lay-verify="required|logLevel" name="logLevel" lay-filter="update-log-level-filter">
                    <option value="BASIC" selected>基本日志</option>
                    <option value="NOTHING">没有日志</option>
                    <option value="ERROR">错误日志</option>
                    <option value="MINIMAL">最小日志</option>
                    <option value="DETAILED">详细日志</option>
                    <option value="DEBUG">调试</option>
                    <option value="ROWLEVEL">行级日志</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="update-description" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="update-description" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="for-update" class="layui-form-label"></label>
            <button id="for-update" class="layui-btn" lay-filter="update" lay-submit="">提交</button>
        </div>
    </form>
</div>

</body>

</html>

