<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" href="plugins/loading/okLoading.css">
    <link rel="stylesheet" href="plugins/layui-v2.8.11/css/layui.css">

    <script src="plugins/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="plugins/loading/okLoading.js"></script>
    <script src="plugins/layui-v2.8.11/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <script type="text/javascript" src="plugins/lodash.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/userInfo.js"></script>

</head>

<body>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <div class="layui-input-inline">
                <label class="layui-input-label">账号</label>
                <input type="text" id="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <label class="layui-input-label">姓名</label>
                <input type="text" id="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <label class="layui-input-label">邮箱</label>
                <input type="text" id="mail" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-inline">
                <label for="select-sex" class="layui-input-label">性别</label>
                <div class="layui-input-inline">
                    <select id="select-sex">
                        <option value="">请选择</option>
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label class="layui-input-label">电话</label>
                <input type="text" id="telephone" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-input-inline">
                <label class="layui-input-label">创建时间</label>
                <input type="text" class="layui-input" placeholder="开始时间" name="start" id="start">
                <input type="text" class="layui-input" placeholder="结束时间" name="end" id="end">
            </div>-->
            <div class="layui-input-inline" style="float: right">
                <button type="button" title="查询" class="layui-btn" onclick="search()"><i class="layui-icon">&#xe615;</i></button>
                <button type="button" title="清空" class="layui-btn layui-btn-danger" onclick="clean()"><i class="layui-icon">&#xe788;</i></button>
            </div>
        </div>
    </div>

    <xblock>
        <button class="layui-btn" onclick="add()"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    </xblock>
    <table class="layui-hide" id="table-data"></table>
    <div id="page"></div>
</div>

<div id="add-form" style="display: none">
    <form class="layui-form" lay-filter="layui-add-form">
        <div class="layui-form-item">
            <label for="add-account" class="layui-form-label">
                <span class="x-red">*</span>账号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="add-account" name="account" required lay-verify="required|account" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add-password" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="add-password" name="password" required lay-verify="required|password" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add-name" class="layui-form-label">
                <span class="x-red">*</span>姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="add-name" name="name" required lay-verify="required|name" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add-sex" class="layui-form-label">性别</label>
            <div  id="add-sex" class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男">
                <input type="radio" name="sex" value="1" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="add-mail" class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" id="add-mail" name="mail" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add-telephone" class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" id="add-telephone" name="telephone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="add-description" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="add-description" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add" class="layui-form-label"></label>
            <button id="add" class="layui-btn" lay-filter="add" lay-submit="">提交</button>
        </div>
    </form>
</div>

<div id="update-form" style="display: none">
    <form class="layui-form" lay-filter="layui-update-form">
        <div class="layui-form-item">
            <label for="update-account" class="layui-form-label">
                <span class="x-red">*</span>账号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="update-account" disabled name="account" required lay-verify="required|account" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update-name" class="layui-form-label">
                <span class="x-red">*</span>姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="update-name" name="name" required lay-verify="required|name" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update-sex" class="layui-form-label">性别</label>
            <div id="update-sex" class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男">
                <input type="radio" name="sex" value="1" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="update-mail" class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" id="update-mail" name="mail" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update-telephone" class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" id="update-telephone" name="telephone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="update-description" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="update-description" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update" class="layui-form-label"></label>
            <button id="update" class="layui-btn" lay-filter="update" lay-submit="">提交</button>
        </div>
    </form>
</div>

<div id="update-pwd-form" style="display: none">
    <form class="layui-form" lay-filter="layui-update-pwd-form">
        <div class="layui-form-item">
            <label for="update-pwd-account" class="layui-form-label">
                <span class="x-red">*</span>账号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="update-pwd-account" disabled name="account" required lay-verify="required|account" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update-oldPwd-password" class="layui-form-label">
                <span class="x-red">*</span>原密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="update-oldPwd-password" name="oldPwd" required lay-verify="required|password" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update-newPwd-password" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="update-newPwd-password" name="newPwd" required lay-verify="required|password" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="update-confirmPwd-password" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="update-confirmPwd-password" name="confirmPwd" required lay-verify="required|password" autocomplete="off" lay-vertype="tips"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="updatePwd" class="layui-form-label"></label>
            <button id="updatePwd" class="layui-btn" lay-filter="updatePwd" lay-submit="">提交</button>
        </div>
    </form>
</div>
</body>

</html>

