<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎任务调度中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" href="plugins/layui-v2.8.11/css/layui.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css" media="all">

    <script type="text/javascript" src="plugins/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js" media="all"></script>
    <script type="text/javascript" src="plugins/layui-v2.8.11/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/layui-ext.js"></script>
    <script type="text/javascript" src="plugins/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="plugins/echarts/echarts.themez.js"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <script type="text/javascript" src="plugins/lodash.js"></script>
    <script type="text/javascript" src="plugins/moment.js"></script>
    <script type="text/javascript" src="js/message.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/welcome.js"></script>

</head>
<body class="console x-body-scroll">
<div class="x-body">
    <div class="row">
        <h3 style="margin: 0; font-size: 24px;">运行报表</h3>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs6 layui-col-md3">
                <div class="x-card layui-card">
                    <div class="x-card-body p0 clearfix cart-data">
                        <div class="data-body">
                            <div class="media-cont">
                                <p class="tit">任务数量</p>
                                <h5 class="jobNumber">0</h5>
                            </div>
                            <div class="w-img" x-pc-in-show>
                                <img src="images/home-1.png" alt="任务数量"/>
                            </div>
                        </div>
                        <div id="jobInfoNumber" class="line-home-a"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-xs6 layui-col-md3">
                <div class="x-card layui-card">
                    <div class="x-card-body p0 clearfix cart-data">
                        <div class="data-body">
                            <div class="media-cont">
                                <p class="tit">调度次数</p>
                                <h5 class="jobLogCount">0</h5>
                            </div>
                            <div class="w-img" x-pc-in-show>
                                <img src="images/home-2.png" alt="调度次数"/>
                            </div>
                        </div>
                        <div id="jobInfoLogCount" class="line-home-a"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-xs6 layui-col-md3">
                <div class="x-card layui-card">
                    <div class="x-card-body p0 clearfix cart-data">
                        <div class="data-body">
                            <div class="media-cont">
                                <p class="tit">执行器数量</p>
                                <h5 class="executorCount">0</h5>
                            </div>
                            <div class="w-img" x-pc-in-show>
                                <img src="images/home-3.png" alt="执行器数量"/>
                            </div>
                        </div>
                        <div id="executorCountId" class="line-home-a"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-xs6 layui-col-md3">
                <div class="x-card layui-card">
                    <div class="x-card-body p0 clearfix cart-data">
                        <div class="data-body">
                            <div class="media-cont">
                                <p class="tit">用户数量</p>
                                <h5 class="userInfoCount">0</h5>
                            </div>
                            <div class="w-img" x-pc-in-show>
                                <img src="images/home-4.png" alt="用户数量"/>
                            </div>
                        </div>
                        <div id="userInfoNumberId" class="line-home-a"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <h3 style="margin: 0; font-size: 24px;">调度报表</h3>

        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <div class="x-card-title">今日调度分布图</div>
                    </div>
                    <div class="x-card-body map-body">
                        <div style="height: 100%;" id="todayScheduleMap"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <div class="x-card-title">本周调度比例图</div>
                    </div>
                    <div class="x-card-body map-body">
                        <div style="height: 100%;" id="weekScheduleScaleChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <div class="x-card-title">本月调度分布图</div>
                    </div>
                    <div class="x-card-body clearfix">
                        <div class="map-month" id="monthScheduleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>