<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- ********************************* 基础配置 ********************************* -->

	<!-- 配置01、JobHandler 扫描路径 -->
	<context:component-scan base-package="com.xxl.job.executor" />

	<!-- 配置02、执行器 -->
	<bean id="xxlJobExecutor" class="com.xxl.job.core.executor.jetty.XxlJobExecutor" init-method="start" destroy-method="destroy" >
		<!-- 执行器IP[选填]，为空则自动获取 -->
		<property name="ip" value="" />
		<!-- 执行器端口号 -->
		<property name="port" value="${job.port}" />
        <property name="appName" value="${job.appName}" />
        <!-- 执行器注册器，默认使用系统提供的 "DbRegistHelper", 推荐将其改为公共的RPC服务 -->
        <property name="registHelper" >
            <!-- DbRegistHelper, 依赖 "XXL-JOB公共数据源" -->
            <bean class="com.xxl.job.core.registry.impl.DbRegistHelper" >
                <!-- XXL-JOB公共数据源 -->
                <property name="dataSource" ref="xxlJobDataSource" />
            </bean>
        </property>
	</bean>

    <!-- ********************************* "GlueFactory" 配置, 仅在启动 "GLUE模式任务" 时才需要, 否则可删除 ********************************* -->

	<!-- 配置03、GlueFactory -->
	<bean id="glueFactory" class="com.xxl.job.core.glue.GlueFactory">
		<!-- GLUE任务示例缓存失效时间, 单位/ms -->
		<property name="cacheTimeout" value="10000" />
		<!-- GLUE源码加载器，默认使用系统提供的 "DbGlueLoader", 推荐将其改为公共的RPC服务 -->
		<property name="glueLoader" >
            <!-- DbGlueLoader, 依赖 "XXL-JOB公共数据源" -->
			<bean class="com.xxl.job.core.glue.loader.impl.DbGlueLoader" >
				<!-- XXL-JOB公共数据源 -->
				<property name="dataSource" ref="xxlJobDataSource" />
			</bean>
		</property>
	</bean>

    <!-- ********************************* "XXL-JOB公共数据源" 配置, 仅在启动 "DbRegistHelper" 或 "DbGlueLoader" 时才需要, 否则可删除 ********************************* -->
	
	<!-- 配置04、XXL-JOB公共数据源 -->
	<bean id="xxlJobDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="10" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="acquireRetryAttempts" value="10" />
		<property name="preferredTestQuery" value="SELECT 1" />
	</bean>
	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean name="beetlSqlScannerConfigurer" class="org.beetl.sql.ext.spring4.BeetlSqlScannerConfigurer">
		<!-- 哪些类可以自动注入 -->
		<property name="basePackage" value="com.xxl.job.executor" />
		<property name="daoSuffix" value="Dao" />
		<property name="sqlManagerFactoryBeanName" value="sqlManagerFactoryBean" />
	</bean>
	<bean id="sqlManagerFactoryBean" class="org.beetl.sql.ext.spring4.SqlManagerFactoryBean">
		<property name="cs">
			<bean class="org.beetl.sql.ext.spring4.BeetlSqlDataSource">
				<property name="masterSource" ref="xxlJobDataSource"></property>
			</bean>
		</property>
		<property name="dbStyle">
			<bean class="org.beetl.sql.core.db.MySqlStyle">
			</bean>
		</property>
		<property name="sqlLoader">
			<bean class="org.beetl.sql.core.ClasspathLoader">
				<property name="sqlRoot" value="/sql"></property>
			</bean>
		</property>
		<property name="nc">
			<bean class="org.beetl.sql.core.UnderlinedNameConversion">
			</bean>
		</property>
		<property name="interceptors">
			<list>
				<bean class="org.beetl.sql.ext.DebugInterceptor"></bean>
			</list>
		</property>
	</bean>
	
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<property name="location">
			<value>classpath:config.properties</value>
		</property>
	</bean> -->
	  <context:property-placeholder location="classpath:config.properties"/>
	
</beans>