<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.mapper.GlueLogMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxl.job.admin.common.pojo.entity.GlueLog">
        <id column="ID" property="id"/>
        <result column="JOB_ID" property="jobId"/>
        <result column="GLUE_TYPE" property="glueType"/>
        <result column="GLUE_SOURCE" property="glueSource"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        JOB_ID,
        GLUE_TYPE,
        GLUE_SOURCE,
        CREATED_USER,
        CREATED_TIME,
        UPDATED_USER,
        UPDATED_TIME,
        DESCRIPTION
    </sql>

    <select id="findGlueLogByJobId" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM XXL_JOB_GLUE_LOG
        WHERE JOB_ID = #{jobId,jdbcType=BIGINT}
            ORDER BY ID DESC
    </select>

    <delete id="deleteOldGlueLog" >
        DELETE FROM XXL_JOB_GLUE_LOG
        WHERE ID NOT in(
            SELECT ID FROM(
                SELECT ID FROM XXL_JOB_GLUE_LOG
                WHERE JOB_ID = #{jobId,jdbcType=BIGINT}
                ORDER BY UPDATED_TIME desc
                LIMIT 0, #{limit}
            ) t1
        ) AND JOB_ID = #{jobId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteGlueLogByJobId">
        DELETE FROM XXL_JOB_GLUE_LOG
        WHERE JOB_ID = #{jobId,jdbcType=BIGINT}
    </delete>

</mapper>
