<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.mapper.KettleInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxl.job.admin.common.pojo.entity.KettleInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="kettle_file" property="kettleFile"/>
        <result column="guide_kjb" property="guideKjb"/>
        <result column="log_level" property="logLevel"/>
        <result column="file_name" property="fileName"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        type,
        kettle_file,
        guide_kjb,
        log_level,
        file_name,
        version,
        status,
        created_user,
        created_time,
        updated_user,
        updated_time,
        description
    </sql>

    <select id="findKettleByNameAndVersion" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from xxl_job_kettle_info
        where name = #{name,jdbcType=VARCHAR}
        and version = #{version,jdbcType=VARCHAR}
    </select>

    <select id="findMaxVersionByName" resultType="java.lang.String">
        select
            max(version)
        from xxl_job_kettle_info
        group by name
    </select>

    <select id="findKettle" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from xxl_job_kettle_info
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="type != null and type != ''">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="logLevel != null and logLevel != ''">
                and log_level = #{logLevel,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="startTime != null">
                and created_time <![CDATA[ >= ]]> #{startTime,jdbcType=BIGINT}
            </if>
            <if test="endTime != null">
                and created_time <![CDATA[ <= ]]> #{endTime,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>
